/.vs
/out
/out
/out/build
/out/build/x64-Debug/glfw/src
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/MONClient.pdb
out/build/x64-Debug/MONClient.ilk
out/build/x64-Debug/MONClient.exe
out/build/x64-Debug/glfw/src/glfw3.lib
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/window.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/platform.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/input.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/init.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
out/build/x64-Debug/glfw/src/CMakeFiles/glfw.dir/context.c.obj
out/build/x64-Debug/glad.lib
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/MONClient.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/MONClient.dir/src/main.cpp.obj
out/build/x64-Debug/CMakeFiles/glad.dir/glad/src/glad.c.obj
out/build/x64-Debug/CMakeFiles/glad.dir/glad.pdb
out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/4.1.1-msvc1/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/build.ninja
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.cmake/api/v1/reply/target-MONClient-Debug-b86506650999ac714bff.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2026-01-21T14-02-31-0531.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-67f066d48cc9d6f6ad22.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-7c0df1f30ec3c1f10d08.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-7eca673dea8774a72a30.json
